.father{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.page_report{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 70px;
    /* background-color: orange; */
}
.page_report111{
    /* background-color: blue; */
    width: 100%;
}
.add_montog{
    margin-right: 10px;
}

/* _______________________ */

.div_input_search_product{
    width: 40%;
    margin-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
}


.input_search_product{
    margin-top: 22px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    color: #4c4f55;
    text-align: center;
    font-size: 22px;
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

}



.input_search_product::placeholder{
    font-size: 16px;
    opacity: 0.8;
}
.form_search{
    width: 50%;
    padding-right: 0;
    display: flex;
    justify-content: center;
}
.icon_search{
    font-size: 24px;   
    color: #4c4f55; 
    margin-right: 20px;


}

.div121{
    background-color: #4c4f55;
    width: 100%;
}

.page_product{
    /* background-color: yellowgreen; */
    width: 100%;
    height: auto;
}
.div_card{
    /* background-color: chartreuse; */
    text-align: end;
}
.image_card {
    border-radius: 6px;
    margin: 10px;
}
.card_product{
    height: 350px;
    text-align: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: none !important;
    margin-top: 15px;

}
.div_text_card{
    /* padding: 10px; */
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text_card{
    color: #0B1725;
    font-size: 17px;
    font-weight: 700;
    text-align: end;

}
.text_card1{
    padding-top: 4px;
    color: #0B1725;
    text-align: end;
}
.text_card2{
    color: #E29600;
    font-size: 17px;
    font-weight: 700;
}
.div_btn_edit{
    text-align: end;
}
.btn_edit{
    background-color: #FFC107;
    border: none;
    transition: all 0.3s ease-in-out;

}
.btn_edit:hover{
    background-color: #FFC107;

    transform: scale(0.9);
    cursor: pointer; 
}

